.HomeContainer {
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .GameContainer {
    width: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    background-color: #38B6FF;

  }

  
  
  .GameBanner {
    width: 100%;
    height: calc(100% - 60px);
    object-fit: cover;
    z-index: 1;
  }
  
  .GameInfoContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    min-height: 55px;
  }

  .GameTitle {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    text-transform: capitalize;
    width: 100%;
  }


  .WishListBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 22px;
    color: yellow;
    cursor: pointer;
  }

  .CartBtn {
    color: green;
  }

