.HomeContainer {
    text-align: center;
  }
  
  h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(to right, #2b6cff, #77d9ffd1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
  }

  .SearchForm {
    display: flex;
    justify-content: center;
    max-width: 700px;
    height: 60px;
    margin: 2rem auto;
  }
  
  .SearchInput {
    padding: 0 8px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    width: 100%;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .SearchButton {
    background-color: #38B6FF;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 40px;
    transition: background-color 0.2s;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 22px;
  }
  
  .SearchButton:hover {
    background-color: #2c90c9;
  }

  .ClearSearchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 40px;
    color: red;
    cursor: pointer;
  }

  .Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .NoGamesMessage {
    font-size: 32px;
    color: #fff;
    font-style: italic;
  }
  
  .GameContainer {
    margin: 10px;
    max-width: 500px;
    list-style: none;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .GameContainer {
      width: 100%;
    }
  }

  .GameBanner {
    width: 100%;
    height: calc(100% - 60px);
    object-fit: cover;
    z-index: 1;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    display: block;
  }
  
  .GameInfoContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    min-height: 55px;
    background-color: #38B6FF;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .GameName {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    text-transform: capitalize;
    width: 100%;
  }


  .WishListBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 22px;
    color: yellow;
    cursor: pointer;
  }

  .CartBtn {
    color: green;
  }

.LoadingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #FFF;
}
